<h1 class="mt-4">About</h1>
<a href="/Dashboard" class="btn btn-secondary">Home</a>
<a href="/users/history" class="btn btn-secondary">History</a>
<a href="/users/about" class="btn btn-secondary">About</a>
<a href="/users/logout" class="btn btn-secondary">logout</a>

<marquee><h4 style="padding-bottom:20px;">Thanks For Using My App</h4></marquee>
<div style="background-color: black;padding: 40px;border:1px solid gray">
<h4>
    Developer:<br><span style="color: floralwhite;">Nag Ashish S V</span>  
</h4>
<h4>
    college:<br><span style="color: floralwhite;">Sastra Deemed To Be University</span>
</h4>
<h4>Version:<br><span style="color: floralwhite;">1.0</span></h4>
<h4>Contact:<br><span style="color: floralwhite;">7981956235</span></h4>

<h4>EMAIL:<br><span style="color: floralwhite;">ashishsv028@gmail.com</span></h4>
<h4>copyrights:<br><span style="color: floralwhite;">@#ishInnovations.com</span></h4>

</div>
<a href="/Dashboard">Goto Dashboard</a>